<template lang="pug">
div
  n-card.invoice-main(v-if="currentInvoice !== null")
    n-space.fill-vertical(vertical, justify="space-between", height="100%")
      n-space.invoice-section.reduced-width(justify="end")
        div
          entity-pop-select(
            v-model:entity="currentInvoice.sender",
            @update:entity="updateSender",
            entityType="sender"
          )
          //- p.address-line.right {{ currentInvoice.sender.display_name }}
          //- p.address-line.right {{ currentInvoice.sender.address.line_one }}
          //- p.address-line.right(v-if="currentInvoice.sender.address.line_two") {{ currentInvoice.sender.address.line_two }}
          //- p.address-line.right {{ currentInvoice.sender.address.postcode }} {{ currentInvoice.sender.address.city }}
          //- p.address-line.right {{ currentInvoice.sender.address.country }}
      n-space.invoice-section.reduced-width
        div
          entity-pop-select(
            v-model:entity="currentInvoice.recipient",
            @update:entity="updateRecipient",
            entityType="recipient"
          )
          //- p.address-line {{ currentInvoice.recipient.display_name }}
          //- p.address-line {{ currentInvoice.recipient.address.line_one }}
          //- p.address-line(v-if="currentInvoice.recipient.address.line_two") {{ currentInvoice.recipient.address.line_two }}
          //- p.address-line {{ currentInvoice.recipient.address.postcode }} {{ currentInvoice.recipient.address.city }}
          //- p.address-line {{ currentInvoice.recipient.address.country }}
      n-space.invoice-section.reduced-width.right(justify="end") {{ currentInvoice.date_str }}
      n-space.invoice-section.reduced-width Invoice No. {{ currentInvoice.identifier }}
      n-space.invoice-section
        n-skeleton(text, :repeat="2")
      n-space.invoice-section
        n-data-table(
          :columns="columns",
          :data="currentInvoice.entries",
          :style="tableStyle",
          :row-key="(row) => row.id",
          :pagination="pagination"
        )
      n-space.invoice-section {{ currentInvoice.farewell }}
      n-space.invoice-section.reduced-width(justify="center")
        p Payable to:
      n-space.invoice-section.text-before
        n-skeleton(text)
  n-card.invoice-main(v-else)
    n-space.fill-vertical(vertical, justify="space-between", height="100%")
      n-space.invoice-section.reduced-width(justify="end")
        n-skeleton(text, :repeat="3")
      n-space.invoice-section.reduced-width
        n-skeleton(text, :repeat="3")
      n-space.invoice-section.reduced-width(justify="end")
        n-skeleton(text)
      n-space.invoice-section.reduced-width
        n-skeleton(text)
      n-space.invoice-section
        n-skeleton(text, :repeat="2")
      n-space.invoice-section
        n-skeleton(text, :repeat="5", size="large")
      n-space.invoice-section
        n-skeleton(text)
      n-space.invoice-section.reduced-width(justify="center")
        n-skeleton(text, :repeat="4")
      n-space.invoice-section.text-before
        n-skeleton(text)
</template>

<script lang="ts">
import { defineComponent, h, ref, computed } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
import EntityPopSelect from "@/components/addressBook/EntityPopSelect.vue";

const createColumns = () => {
  return [
    {
      type: "selection",
      disabled(row, index) {
        return row.is_paid;
      },
    },
    {
      title: "Date",
      key: "date",
      width: 100,
    },
    {
      title: "Description",
      key: "description",
      style: "text-wrap: ",
    },
    {
      title: "Count",
      key: "unit_number",
      width: "80px",
    },
    {
      title: "Price",
      key: "unit_price",
      width: "80px",
    },
  ];
};

export default defineComponent({
  name: "document_detail",
  components: { EntityPopSelect },
  setup() {
    const route = useRoute();
    const store = useStore();
    store.dispatch("invoices/get", route.params.documentId);

    const currentInvoice = computed(() => {
      return store.getters["invoices/current"];
    });

    const invoiceRef = ref(currentInvoice);

    const updateSender = (senderId) => {
      console.log("new sender");
      console.log(invoiceRef.value.sender);
    };

    const updateRecipient = (recipientId) => {
      console.log("new recipient");
      console.log(invoiceRef.value.recipient);
    };

    return {
      currentInvoice,
      columns: createColumns(),
      tableStyle: { width: "600px" },
      pagination: ref({
        pageSize: 5,
      }),
      updateSender,
      updateRecipient,
      invoiceRef,
    };
  },
});
</script>

<style>
.invoice-main {
  min-width: 640px;
  max-width: 900px;
  /* min-height: 800px; */
  /* height: 94vh; */
}

.n-space.invoice-section > div {
  width: 100%;
}

.n-space.invoice-section.reduced-width > div {
  width: fit-content;
}

.n-space.fill-vertical {
  height: 84vh;
}

p.address-line {
  margin: 0;
}
.right {
  text-align: right;
}
</style>
