<template>
  <div>
    <div v-if="isAuthenticated">
      <n-menu
        v-model="activeKey"
        :options="menuOptionsMain"
        :on-update:value="logOut"
      />
    </div>
    <div v-else>
      <n-menu v-model="activeKey" :options="menuOptionsLogIn" />
    </div>
  </div>
</template>

<script lang="ts">
import {
  FormatListNumberedRound,
  InsertDriveFileRound,
  ContactsRound,
  LogInRound,
  LogOutRound,
} from "@vicons/material";

import { useStore } from "vuex";
import { defineComponent, h, ref, computed } from "vue";
import { RouterLink, useRouter } from "vue-router";
import { NIcon, NButton } from "naive-ui";

function renderIcon(icon) {
  return () => h(NIcon, null, { default: () => h(icon) });
}

export default defineComponent({
  props: ["isAuthenticated"],
  components: {
    NButton,
  },
  setup() {
    const router = useRouter();
    const store = useStore();

    const menuOptionsMain = [
      {
        label: () =>
          h(
            RouterLink,
            {
              to: {
                name: "invoices",
                params: {},
              },
            },
            { default: () => "Invoices" }
          ),
        key: "invoices",
        icon: renderIcon(InsertDriveFileRound),
      },
      {
        label: () =>
          h(
            RouterLink,
            {
              to: {
                name: "quotes",
                params: {},
              },
            },
            { default: () => "Quotes" }
          ),
        key: "quotes",
        icon: renderIcon(InsertDriveFileRound),
      },
      {
        label: () =>
          h(
            RouterLink,
            {
              to: {
                name: "items",
                params: {},
              },
            },
            { default: () => "Items" }
          ),
        key: "items",
        icon: renderIcon(FormatListNumberedRound),
      },
      {
        label: () =>
          h(
            RouterLink,
            {
              to: {
                name: "address-book",
                params: {},
              },
            },
            { default: () => "Address Book" }
          ),
        key: "address-book",
        icon: renderIcon(ContactsRound),
      },
      {
        key: "divider-1",
        type: "divider",
        props: {
          style: {
            marginLeft: "32px",
          },
        },
      },
      {
        label: "Log Out",
        key: "logout",
        icon: renderIcon(LogOutRound),
      },
    ];

    const menuOptionsLogIn = [
      {
        label: () =>
          h(
            RouterLink,
            {
              to: {
                name: "login",
                params: {},
              },
            },
            { default: () => "Log In" }
          ),
        key: "login",
        icon: renderIcon(LogInRound),
      },
    ];

    const logOut = (key: String) => {
      if (key === "logout") {
        store.dispatch("auth/logout").then(() => {
          router.push({ name: "login" });
        });
      }
    };

    const isAuthenticated = computed(() => {
      return store.getters["auth/isAuthenticated"];
    });

    return {
      activeKey: ref(null),
      menuOptionsMain,
      menuOptionsLogIn,
      logOut,
      isAuthenticated,
    };
  },
});
</script>

<style scoped></style>
