<address id="{{ address_elem_id }}">
    <p>{{ entity.display_name }}</p>
    <p>{{ entity.address.line_one }}</p>
    {% if entity.address.line_two -%}
        <p>{{ entity.address.line_two }}</p>
    {%- endif -%}
    {% if entity.address.line_three -%}
        <p>{{ entity.address.line_three }}</p>
    {%- endif -%}
    <p>{% if entity.address.postcode -%}
        {{ entity.address.postcode }}
    {%- endif %} {{ entity.address.city }}</p>
    {% if entity.address.state and entity.address.state != entity.address.city -%}
        <p>{{ entity.address.state }}</p>
    {%- endif -%}
    <p>{{ entity.address.country }}</p>
</address>
