<div id="sender-address-wrapper" class="block-wrapper right-align-block-wrapper">
    <div class="flex-fill"></div>

    {% with entity=doc.sender, address_elem_id="to" %}
    {% include "bookkeeping/templates/document/_address.html" %}
    {% endwith %}
</div>

<div id="recipient-address-wrapper" class="block-wrapper">
    {% with entity=doc.recipient, address_elem_id="from" %}
    {% include "bookkeeping/templates/document/_address.html" %}
    {% endwith %}
</div>

<div id="document-details-wrapper" class="block-wrapper right-align-block-wrapper">
    <div class="flex-fill"></div>
    <div class="header-block">
        <i>{{ doc.document_number_label }} {{ doc.identifier }}</i>
        <i>{{ doc.date_as_str }}</i>
    </div>
</div>
