:root {
  font-size: 9pt;
  --highlight: rgb(31, 56, 94);
}

@page {
  size: A4 portrait;
  margin: 2cm 1.8cm 3cm 1.8cm;
  font-size: 10px;
}

.document-title {
  padding-top: 32px;
}

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  transform: translate(0, 100%);
  color: var(--subtle-text);
  font-size: 9px;
}

footer > div > i,
footer > div p {
  margin: 4px 0;
}

#footer-center {
  flex-grow: 0;
}

#footer-right,
#footer-left {
  flex: 1 1 0;
}

#footer-right > table {
  margin-left: auto;
}

#footer-right > table td.td-align-right {
  text-align: right;
}

#footer-center > i {
  text-align: center;
}

footer > div > i {
  display: block;
}

.body-table {
  width: 100%;
}

.body-table,
.body-table th,
.body-table td {
  border: 1px solid;
  border-color: var(--grey-table-border);
  border-collapse: collapse;
}

.body-table,
#totals-table th,
#totals-table td {
  border-width: 0;
}

.body-table td,
.body-table th {
  padding: 6px;
}

.body-table th {
  text-align: center;
  border-bottom-width: 2px;
}

#totals-table {
  page-break-inside: avoid !important;
}

#totals-table td.fill {
  width: 99%;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

#totals-table tr td {
  padding: 8px 16px;
  text-align: right;
}

#totals-table tr:first-child > td {
  padding-top: 16px;
}

#totals-table td.no-content {
  border: none !important;
}

#totals-table tr:last-child > td {
  font-weight: bold;
  border-top: 1px solid grey;
  border-bottom: 2px double grey;
}

address#to {
  text-align: end;
}

address > p {
  margin: 2px 0;
}

footer {
  string-set: footer content();
}
