<template>
  <modal-wrapper :name="modalName" title="Delete Item">
    <item-form
      ref="item-form"
      :model="currentItem"
      :disableInputs="true"
      showIsPaid="true"
    />

    <template #action>
      <n-space>
        <n-button strong @click="closeModal()"> Cancel </n-button>
        <n-button strong type="error" @click="deleteItem">
          Delete Item
        </n-button>
      </n-space>
    </template>
  </modal-wrapper>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { useStore } from "vuex";

import ModalWrapper from "@/components/layout/ModalWrapper.vue";
import ItemForm from "@/components/invoices/ItemForm.vue";
// import Item from "@/models/items.ts";

export default defineComponent({
  name: "deleteItemModal",
  components: {
    ModalWrapper,
    ItemForm,
  },
  setup() {
    const modalName = "delete-item";
    const store = useStore();

    const currentItem = computed(() => {
      return store.getters["items/current"];
    });

    const modelRef = ref(currentItem);

    const closeModal = () => {
      store.dispatch("modals/close", modalName);
    };

    const deleteItem = () => {
      let item = {
        id: modelRef.value.id,
      };
      store.dispatch("items/delete", item).then(() => {
        store.dispatch("modals/close", modalName);
      });
    };

    return {
      modalName,
      closeModal,
      deleteItem,
      currentItem,
      model: modelRef,
      // client
      // invoice
    };
  },
});
</script>

<style scoped></style>
