<template>
  <modal-wrapper :name="modalName" title="Create New Item">
    <item-form ref="item-form" :model="model" :disableInputs="false" />

    <template #action>
      <n-space>
        <n-button strong @click="closeModal()"> Cancel </n-button>
        <n-button strong type="primary" @click="saveItem"> Save Item </n-button>
      </n-space>
    </template>
  </modal-wrapper>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore } from "vuex";

import ModalWrapper from "@/components/layout/ModalWrapper.vue";
import ItemForm from "@/components/invoices/ItemForm.vue";
// import Item from "@/models/items.ts";

export default defineComponent({
  name: "NewItemModal",
  components: {
    ModalWrapper,
    ItemForm,
  },
  setup() {
    const modalName = "new-item";
    const store = useStore();

    const modelRef = ref({
      date: new Date().toISOString().slice(0, 10),
      description: "",
      client: {
        id: null,
      },
      unit_price: 60,
      unit_number: 0,
      is_paid: false,
    });

    const closeModal = () => {
      store.dispatch("modals/close", modalName);
    };

    const saveItem = () => {
      let item = {
        pk: "",
        date: modelRef.value.date,
        description: modelRef.value.description,
        client: modelRef.value.client.id,
        unit_price: modelRef.value.unit_price,
        unit_number: modelRef.value.unit_number,
        is_paid: modelRef.value.is_paid,
      };
      store.dispatch("items/create", item).then(() => {
        store.dispatch("modals/close", modalName);
      });
    };

    return {
      closeModal,
      saveItem,
      modalName,
      model: modelRef,
      // client
      // invoice
    };
  },
});
</script>

<style scoped></style>
