{
    "title": "{{ doc.header }} {{ doc.identifier }}",
    {% if doc.locale == "de_DE" -%}
    "description": "{{ doc.header }} vom {{ doc.date_as_str }}",
    {% elif doc.locale == "en_GB" -%}
    "description": "{{ doc.header }} — {{ doc.date_as_str }}",
    {% endif %}
    "return_as": "pdf",
    "components": [
      {
        "component": "address",
        "lines": [
            {% for line in doc.sender.address_lines -%}
            "{{ line }}",
            {% endfor -%}
        ],
        "alignment": "right",
        "justify_text": "right"
      },
      {
        "component": "address",
        "lines": [
            {% for line in doc.recipient.address_lines -%}
            "{{ line }}",
            {% endfor -%}
        ]
      },
      {
        "component": "doc_info",
        "table": [
          ["{{ doc.document_number_label }}", "{{ doc.identifier }}"],
          {% if doc.locale == "de_DE" -%}
          ["Rechnungsdatum", "{{ doc.date_as_str }}"]
          {% elif doc.locale == "en_GB" -%}
          ["Date", "{{ doc.date_as_str }}"]
          {% endif %}

        ]
      },
      {
        "component": "heading",
        "content": "{{ doc.header }}"
      },
      {
        "component": "block_text",
        "content": "{{ doc.greeting }}"
      },
      {
        "component": "block_text",
        "content": "{{ doc.top_text }}"
      },
      {
        "component": "block_text",
        "content": "<br>"
      },
      {% block data_table %}{% endblock data_table %}
      {
      "component": "table",
      "table_type": "totals_table",
      "alignment": "right",
      "fill_width": false,
      "colour_alternate_rows": false,
      "show_column_header_content": false,
      "column_headers": [
          {},
          {
          "data_type": "currency"
          }
      ],
      "rows": [
          {% if doc.locale == "de_DE" -%}
          ["Summe Netto", "{{ doc.total_net | round(2) }}"],
          ["Umsatzsteuerfreie Leistung gemäß §19 UStG", "{{ doc.tax | round(2) }}"],
          {# ["Umsatzsteuer {{ doc.value_added_tax_percent | round() }} %", "{{ doc.tax | round(2) }}"], #}
          ["Rechnungsbetrag", "{{ doc.total_gross | round(2) }}"]
          {% elif doc.locale == "en_GB" -%}
          ["Subtotal", "{{ doc.total_net | round(2) }}"],
          {# ["0.00% sales tax according to §19 UStG", "{{ doc.tax | round(2) }}"], #}
          ["{{ doc.value_added_tax_percent | round() }} % sales tax", "{{ doc.tax | round(2) }}"],
          ["Total", "{{ doc.total_gross | round(2) }}"]
          {% endif %}
      ]
      },
      {
        "component": "block_text",
        "content": "<br>"
      },
      {
        "component": "block_text",
        "content": "{{ doc.bottom_text }}"
      },
      {
        "component": "block_text",
        "content": "<br>"
      },
      {
        "component": "block_text",
        "content": "{{ doc.farewell }}"
      },
      {
        "component": "block_text",
        "content": "{{ doc.sender.display_name }}"
      },
      {
        "component": "footer",
        "columns": [
          {
            "lines": [
              {% for line in doc.sender.address_lines -%}
              "{{ line }}",
              {% endfor -%}
            ]
          },
          {
            "justify_text": "middle",
            "lines": [
              "+49 17655088667",
              "samuel@ay-bryson.com",
              "https://samuel.ay-bryson.com"
            ]
          },
          {
            "table": [
              ["Bank:", "N26"],
              ["IBAN:", "DE19 1001 1001 2623 1789 11"],
              ["BIC:", "NTSBDEB1"],
              {% if doc.locale == "de_DE" -%}
              ["Steuer-Nr.:", "14/213/06503"],
              {% elif doc.locale == "en_GB" -%}
              ["Tax no.:", "14/213/06503"],
              {% endif %}
            ]
          }
        ]
      }
    ]
  }
