{% extends "picture_this/_base.json.jinja"%}

{% block data_table %}
      {
        "component": "table",
        "numbered_rows": true,
        {% if doc.locale == "en_GB" -%}
        "numbered_row_label": "Item",
        {% endif %}
        "column_headers": [
          {% if doc.locale == "de_DE" -%}
          { "content": "Datum" },
          { "content": "Leistung", "rowspan": true },
          { "content": "Projekt", "rowspan": true, "justify_text": "middle" },
          { "content": "Stunden", "data_type": "numeric", "rowspan": true },
          { "content": "Ges. Stunden", "data_type": "numeric" },
          { "content": "Preis", "data_type": "currency" },
          { "content": "Summe", "data_type": "currency" }
          {% elif doc.locale == "en_GB" -%}
          { "content": "Date" },
          { "content": "Description", "rowspan": true },
          { "content": "Project", "rowspan": true, "justify_text": "middle" },
          { "content": "Qty", "data_type": "numeric", "rowspan": true },
          { "content": "Total Qty", "data_type": "numeric" },
          { "content": "Unit Cost", "data_type": "currency" },
          { "content": "Sum", "data_type": "currency" }
          {% endif %}
        ],
        "rows": [
          {% for date, daily_summary in doc.entries_grouped_by_date.items() -%}
          [
            "{{ date }}",
            [
              {% for entry in daily_summary['entries'] %}
              "{{ entry.description }}",
              {% endfor -%}
            ],
            [
              {% for entry in daily_summary['entries'] %}
              {% if entry.project %}
              "{{ entry.project.identifier }}",
              {% else %}
              "",
              {% endif %}
              {% endfor -%}
            ],
            [
              {% for entry in daily_summary['entries'] %}
              "{{ entry.unit_number | round(1) }}",
              {% endfor -%}
            ],
            "{{ daily_summary.quantity_total | round(1) }}",
            "{{ daily_summary.unit_price | round() }}",
            "{{ daily_summary.subtotal | round() }}"
          ],
          {% endfor -%}
        ]
      },
{% endblock data_table %}