{% extends "picture_this/_base.json.jinja"%}

{% block data_table %}
      {
        "component": "table",
        "numbered_rows": true,
        {% if doc.locale == "en_GB" -%}
        "numbered_row_label": "Item",
        {% endif %}
        "column_headers": [
          {% if doc.locale == "de_DE" -%}
          { "content": "Leistung" },
          { "content": "Anzahl", "data_type": "numeric" },
          { "content": "Preis", "data_type": "currency" },
          { "content": "Summe", "data_type": "currency" }
          {% elif doc.locale == "en_GB" -%}
          { "content": "Description" },
          { "content": "Qty", "data_type": "numeric" },
          { "content": "Unit Cost", "data_type": "currency" },
          { "content": "Sum", "data_type": "currency" }
          {% endif %}
        ],
        "rows": [
          {% for entry in doc.entries.order_by("date") -%}
          [
            "{{ entry.description }}",
            "{{ entry.unit_number | round(1) }}",
            "{{ entry.unit_price | round() }}",
            "{{ entry.subtotal | round() }}"
          ],
          {% endfor -%}
        ]
      },
{% endblock data_table %}