<template>
  <modal-wrapper :name="modalName" title="Delete Entity" style="width: 800px">
    <entity-form :model="currentEntity" :disableInputs="true" />

    <template #action>
      <n-space>
        <n-button strong @click="closeModal()"> Cancel </n-button>
        <n-button strong type="error" @click="deleteEntity"
          >Delete Entity
        </n-button>
      </n-space>
    </template>
  </modal-wrapper>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { useStore } from "vuex";

import ModalWrapper from "@/components/layout/ModalWrapper.vue";
import EntityForm from "@/components/addressBook/EntityForm.vue";

export default defineComponent({
  name: "DeleteEntityModal",
  components: {
    ModalWrapper,
    EntityForm,
  },
  setup() {
    const modalName = "delete-entity";
    const store = useStore();

    const currentEntity = computed(() => {
      return store.getters["addressBook/current"];
    });

    const modelRef = ref(currentEntity);

    const closeModal = () => {
      store.dispatch("modals/close", modalName);
    };

    const deleteEntity = () => {
      let entity = {
        id: modelRef.value.id,
      };
      store.dispatch("addressBook/delete", entity).then(() => {
        store.dispatch("modals/close", modalName);
      });
    };

    return {
      modalName,
      closeModal,
      deleteEntity,
      currentEntity,
    };
  },
});
</script>

<style scoped></style>
