<template>
  <modal-wrapper :name="modalName" title="Edit Entity" style="width: 800px">
    <entity-form :model="currentEntity" :disableInputs="false" />

    <template #action>
      <n-space>
        <n-button strong @click="closeModal()"> Cancel </n-button>
        <n-button strong type="primary" @click="editEntity"
          >Save Entity
        </n-button>
      </n-space>
    </template>
  </modal-wrapper>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { useStore } from "vuex";

import ModalWrapper from "@/components/layout/ModalWrapper.vue";
import EntityForm from "@/components/addressBook/EntityForm.vue";

export default defineComponent({
  name: "EditEntityModal",
  components: {
    ModalWrapper,
    EntityForm,
  },
  setup() {
    const modalName = "edit-entity";
    const store = useStore();

    const currentEntity = computed(() => {
      return store.getters["addressBook/current"];
    });

    const modelRef = ref(currentEntity);

    const closeModal = () => {
      store.dispatch("modals/close", modalName);
    };

    const editEntity = () => {
      let entity = {
        id: modelRef.value.id,
        display_name: modelRef.value.display_name,
        email_address: modelRef.value.email_address,
        phone_number: modelRef.value.phone_number,
        tax_number: modelRef.value.tax_number,
        address: {
          line_one: modelRef.value.address.line_one,
          line_two: modelRef.value.address.line_two,
          line_three: modelRef.value.address.line_three,
          postcode: modelRef.value.address.postcode,
          city: modelRef.value.address.city,
          state: modelRef.value.address.state,
          country: modelRef.value.address.country,
        },
      };
      store.dispatch("addressBook/update", entity).then(() => {
        store.dispatch("modals/close", modalName);
      });
    };

    return {
      modalName,
      closeModal,
      editEntity,
      currentEntity,
      model: modelRef,
    };
  },
});
</script>

<style scoped></style>
