<template lang="pug">
n-popselect(
  :options="clientOptions",
  v-model:value="entity.id",
  trigger="click",
  @update:value="updateCallback()"
)
  n-button {{ entity.display_name || emptyMessage }}
    template(#icon)
      n-icon(size="large")
        person-round
  //- template {{ entity.display_name }}
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { useStore } from "vuex";
import { PersonRound } from "@vicons/material";

export default defineComponent({
  name: "entity_mini_card",
  components: {
    PersonRound,
  },
  props: {
    entity: {
      type: Object,
    },
    entityType: "sender" | "recipient",
  },
  emits: ["update:entity"],
  setup(props, { emit }) {
    const store = useStore();
    store.dispatch("addressBook/fetch");
    const clientOptions = computed(() => {
      return store.getters["addressBook/options"];
    });

    // const currentInvoice = computed(() => {
    //   return store.getters["invoices/current"];
    // });

    // const invoiceRef = ref(currentInvoice);

    const updateCallback = () => {
      console.log("updated");
      console.log(props.entity);
      // store.dispatch(
      //   "addressBook/set_current_by_id",
      //   invoiceRef.value.id
      // );
      emit("update:entity", props.entity.id);
      // store.dispatch("invoices/set_entity");
      // console.log(invoice[props.entityType].id);
    };

    const emptyMessage =
      props.entityType === "sender" ? "Select sender" : "Select recipient";

    return {
      // currentInvoice,
      clientOptions,
      updateCallback,
      emptyMessage,
    };
  },
});
</script>

<style scoped></style>
