<template lang="pug">
n-card(
  class="entity-card"
  :title="entity.display_name"
  :hoverable="true"
  @click="setCurrentEntityById(entity.id); openModal('edit-entity');"
)
  template(#default)
    a {{ entity.address.line_one }}
    br
    a {{ entity.address.postcode }} {{ entity.address.city }}

  template(#header-extra)
    n-button(
      tertiary
      type="error"
      size="small"
      @click.stop="setCurrentEntityById(entity.id); openModal('delete-entity');"
    )
      template(#icon)
        n-icon(size="large")
          delete-round
</template>

<script setup>
import { defineProps, toRefs } from "vue";
import { DeleteRound } from "@vicons/material";
// import { NCard } from "naive-ui";

const props = defineProps({
  entity: Object,
});
const { entity } = toRefs(props);
</script>

<style>
.n-card.main-card {
  min-width: 800px;
  max-width: 1000px;
  overflow-y: auto;
}
.n-card.entity-card {
  min-height: 120px;
}

.n-card.entity-card:hover {
  cursor: pointer;
}
</style>
