<template>
  <n-form :model="model">
    <n-grid x-gap="16" :cols="2">
      <n-gi>
        <n-card title="Person" :bordered="false">
          <n-form-item label="ID" v-if="model.id">
            <n-input v-model:value="model.id" disabled />
          </n-form-item>

          <n-form-item label="Name">
            <n-input
              v-model:value="model.display_name"
              type="text"
              placeholder="Display name"
              :disabled="disableInputs"
            />
          </n-form-item>

          <n-form-item label="Email">
            <n-input
              v-model:value="model.email_address"
              type="text"
              placeholder="Email address"
              :disabled="disableInputs"
            />
          </n-form-item>

          <n-form-item label="Phone">
            <n-input
              v-model:value="model.phone_number"
              type="text"
              placeholder="Phone number"
              :disabled="disableInputs"
            />
          </n-form-item>

          <n-form-item label="Tax number">
            <n-input
              v-model:value="model.tax_number"
              type="text"
              placeholder="Tax number"
              :disabled="disableInputs"
            />
          </n-form-item>
        </n-card>
      </n-gi>

      <n-gi>
        <n-card title="Address" :bordered="false">
          <n-form-item label="Line one">
            <n-input
              v-model:value="model.address.line_one"
              type="text"
              placeholder="Address line one"
              :disabled="disableInputs"
            />
          </n-form-item>

          <n-form-item label="Line two">
            <n-input
              v-model:value="model.address.line_two"
              type="text"
              placeholder="Address line two"
              :disabled="disableInputs"
            />
          </n-form-item>

          <n-form-item label="Line three">
            <n-input
              v-model:value="model.address.line_three"
              type="text"
              placeholder="Address line three"
              :disabled="disableInputs"
            />
          </n-form-item>

          <n-form-item :show-label="false">
            <n-form inline>
              <n-form-item label="Postcode">
                <n-input
                  v-model:value="model.address.postcode"
                  :disabled="disableInputs"
                ></n-input>
              </n-form-item>
              <n-form-item label="City">
                <n-input
                  v-model:value="model.address.city"
                  :disabled="disableInputs"
                ></n-input>
              </n-form-item>
            </n-form>
          </n-form-item>

          <n-form-item label="State">
            <n-input
              v-model:value="model.address.state"
              :disabled="disableInputs"
            ></n-input>
          </n-form-item>
          <n-form-item label="Country">
            <n-input
              v-model:value="model.address.country"
              :disabled="disableInputs"
            ></n-input>
          </n-form-item>
        </n-card>
      </n-gi>
    </n-grid>
  </n-form>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "ItemForm",
  props: ["disableInputs", "model"],
});
</script>

<style scoped></style>
