<template lang="pug">
n-card.main-card(size="large", title="Address Book")
  template(#header-extra)
    n-button(secondary, type="primary", @click="openModal('new-entity')") New Entity
      template(#icon)
        n-icon(size="large")
          plus-round
  n-grid(cols="2", x-gap="12px", y-gap="12px")
    n-grid-item(v-for="entity in entities")
      entity-card(:entity="entity")
  edit-entity-modal
  delete-entity-modal
  new-entity-modal
</template>

<script lang="ts">
import { defineComponent, computed, h } from "vue";
import { useStore } from "vuex";
import { PlusRound, DeleteRound } from "@vicons/material";

import NewEntityModal from "@/components/addressBook/NewEntityModal.vue";
import EditEntityModal from "@/components/addressBook/EditEntityModal.vue";
import DeleteEntityModal from "@/components/addressBook/DeleteEntityModal.vue";
import EntityCard from "@/components/addressBook/EntityCard.vue";

export default defineComponent({
  components: {
    PlusRound,
    DeleteRound,
    NewEntityModal,
    EditEntityModal,
    DeleteEntityModal,
    EntityCard,
  },
  setup() {
    const store = useStore();

    const openModal = function (name: string) {
      console.log("opening", name);
      store.dispatch("modals/open", name);
    };

    const setCurrentEntityById = function (entityId) {
      store.dispatch("addressBook/set_current_by_id", entityId);
    };

    store.dispatch("addressBook/fetch");

    const entities = computed(() => {
      return store.getters["addressBook/data"];
    });

    const height = {
      height: "700px",
    };

    return {
      openModal,
      setCurrentEntityById,
      entities,
      height,
    };
  },
});
</script>

<style scoped></style>
