<template>
  <n-card size="large" title="Log In">
    <template #header-extra>
      <n-button secondary type="primary" disabled>
        <template #icon>
          <n-icon>
            <person-add-alt1-round />
          </n-icon>
        </template>
        Sign Up
      </n-button>
    </template>
    <n-form>
      <n-form-item label="Username">
        <n-input
          type="text"
          v-model:value="username"
          placeholder="Enter username"
        />
      </n-form-item>

      <n-form-item label="Password">
        <n-input
          type="password"
          v-model:value="password"
          show-password-on="mousedown"
          placeholder="Enter password"
          :maxlength="8"
        />
      </n-form-item>
    </n-form>
    <template #action>
      <n-button
        @click="startAuthentication"
        :loading="loginLoading"
        type="primary"
        size="large"
      >
        Log in
      </n-button>
    </template>
  </n-card>
</template>

<script lang="ts">
import { ref, reactive, defineComponent } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import {
  NCard,
  NButton,
  NTable,
  NIcon,
  NForm,
  NFormItem,
  NInput,
} from "naive-ui";

import PersonAddAlt1Round from "@vicons/material/PersonAddAlt1Round";

export default defineComponent({
  components: {
    NCard,
    NButton,
    NTable,
    NIcon,
    NForm,
    NFormItem,
    NInput,
    PersonAddAlt1Round,
  },
  props: ["username", "password"],
  setup() {
    const store = useStore();
    const router = useRouter();

    let username = ref("");
    let password = ref("");
    let loginLoading = ref(false);

    const startAuthentication = () => {
      loginLoading.value = true;
      let credentials = {
        username: username.value,
        password: password.value,
      };
      store
        .dispatch("auth/login", credentials)
        .then(() => {
          router.push({ name: "invoices" });
          loginLoading.value = false;
        })
        .catch((err) => {
          console.log(err);
          loginLoading.value = false;
        });
    };
    return {
      startAuthentication,
      username,
      password,
      loginLoading,
    };
  },
});
</script>

<style scoped>
.n-button {
  width: 100%;
}
</style>
